@model IEnumerable<QuestionBank.Models.Subjects>

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="s_title">
    Sonuçlar
    </div>

    @foreach (var item in Model)
    {
        <div>
            <div class="s_title">
                <a href="/Questions/Test?id=@item.Id">
                    <div>
                        @item.Name -  @item.Description - @item.Datetime
                    </div>
                </a>
            </div>
            <br />
        </div>
    }
